header{
    position: relative;
    display: flex;
    width:100%;
    min-height: 100px;
    background: none;
   }
main h2 {
    font-size: 2rem;
    padding-top: 1rem;
}



.gallery{
    width: 100%;
    position: relative;
}

.gallery-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.grid-item {
    width: 24%;
}
.grid-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}



