* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }
body {
    font-family: "Trirong", serif;
    background-color: white;
  }

  #header_container , .section_container {
      width: 100%;
  }


.wrapper {
    width:100vw;
}
header{
    width:100%;
    min-height: 100vh;
    text-align: center;
    background: url("https://images.unsplash.com/photo-1611677898803-eeea6806d225?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80") no-repeat fixed
    center center/cover;
   }
#nav_bar {
    display: grid;
    grid-template-columns: 1fr 5fr;
    color: red;
    font-size: 24px;
    background: white;
}
nav {
    display: flex;
    justify-content: center;
    color: sandybrown;
}
nav a {
    padding-right: 20px;
    padding-top: 20px;
    margin-bottom: 20px;

}
   
#logo {

    width: 135px;
    height: 140px;
}

#hero_banner h2 {
    font-size: 48px;
    color: rgb(29, 16, 143);
    text-align: center;
    padding-top: 400px;
  }
  

/* main */
main {
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
}



.section_container div {
    overflow: hidden;
    min-height: 100%;
    margin: 150px 0;

}

.section_container h2 {
    padding: 20px;
    text-align: center;
}
#present p, #past p, #future p{
    text-align: center;
    margin: auto; height: 50% ;
    color: tomato;
    
}
#present img, #past img, #future img  {
    overflow: hidden;
    width: 65vw;
    float: left;
}

#past img {
  float: right;
}

/* footer */
footer {
    background-color:rgba(10, 8, 8, 0.76);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    padding:20px 0;
}

/* Form */
.footer_container form{
    background-color: transparent;
    padding: 20px 70px;
}

input[type=text], input[type=email], textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 5px;
    margin: 10px 0px 16px 0px; /* Add a top margin */
    resize: vertical;
  }

/* Button */
input[type=submit]{
   text-transform: uppercase;
   padding: 10px 60px;
   color: white;
   background: #444;
   font-weight: normal;
}
input[type=submit]:hover {
    background-color: #45a049;
  }
  .form-group {
      text-align: left;
  }
